appdirs==1.4.3
astroid==2.3.3
attrs==20.3.0
beautifulsoup4==4.14.3
black>=23.0.0
flake8>=6.0.0
distlib==0.3.0
filelock==3.0.12
isort==4.3.21
jsonschema==3.2.0
lazy-object-proxy==1.4.3
lxml==5.4.0
mccabe==0.7.0
pbr==5.4.5
pylint==2.17.7
pyrsistent==0.17.3
sh==1.12.14
six==1.14.0
soupsieve==2.0
stevedore==1.32.0
virtualenv==20.36.1
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wrapt==1.11.2
